<div class="toolbar" role="banner" >
  
    <!-- <span style="font-size:20px;cursor:pointer;margin:3px;" onclick="openNav()">&#x2630; </span> -->
      <!-- <div class="sidenavHamburger" (click)="showSideNav_mt()">&#x2630; </div>  -->
      <div  class="sidenavHamburger" (click)="showSideNav_mt()">
        <div *ngIf="!showSideNavToggle_vb">&#x2630;</div>
        <div *ngIf="showSideNavToggle_vb">&#10005;</div>
      </div> 
        
      <div *ngIf="showSideNavToggle_vb"><app-viewer-sidenav></app-viewer-sidenav></div>
      <!-- <img class="control_display" 
        width="40"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" /> -->
      <img class="control_display" src="/assets/images/appName.png" />
      <!-- <label class="control_display" style="font-size:30px; word-spacing:100px; margin-top: 10px; margin-left: 10px;">
        <toolbar-msg messageSeek_vb="ownerToolBar_heading_msg"></toolbar-msg></label> -->


      <form style="display: inline-block;" [formGroup]="searchForm_vb" (ngSubmit)="onSubmit_mt()" >
        <input type="text" placeholder='{{placeholderText_vb}}'
         class="searchInput" formControlName="search_vb" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        <button type="submit"  class="searchButton"  >
          {{label_submit_upload_ads_vb}}
        </button>
        
      </form>
      
      <!-- <div *ngIf="showSideNavToggle_vb"><app-owner-side-nav></app-owner-side-nav></div> -->
      <!-- <div class="spacer"></div> -->
      <!-- <div class="float-md-right" style="padding-right: 5px; display: inline-block;">
        <a (click)="changeLang_mt('ur')" style="padding-left: 2px;" title="اردو">        
          ش</a>
        <a (click)="changeLang_mt('kn')" style="padding-left: 2px;" title="ಕನ್ನಡ"> ಅ</a>
        <a (click)="changeLang_mt('gu')" style="padding-left: 2px;" title="ગુજરાતી"> એ</a>
        <a (click)="changeLang_mt('bn')" style="padding-left: 2px;" title="বাংলা"> অ</a>
        <a (click)="changeLang_mt('hi')" style="padding-left: 2px;" title="हिन्दी"> अ</a>
        <a (click)="changeLang_mt('en')" style="padding-left: 2px;" title="English"> A</a>  
        <a (click)="changeLang_mt('ml')" style="padding-left: 2px;" title="മലയാളം"> ല</a>  
        <a (click)="changeLang_mt('mr')" style="padding-left: 2px;" title="मराठी"> म</a>  
        <a (click)="changeLang_mt('pa')" style="padding-left: 2px;" title="ਪੰਜਾਬੀ"> ਉ</a>  
        <a (click)="changeLang_mt('ta')" style="padding-left: 2px;" title="தமிழ்"> அ</a>  
        <a (click)="changeLang_mt('te')" style="padding-left: 2px;" title="తెలుగు"> సం</a>      
      </div> -->

      <!-- <div *ngIf="this.userDto_vb.userId_vb!=undefined" class="control_display" style="padding-left: 20px;" >
        <a class="link" (click)="logout_mt()">
        {{logout_vb}}</a></div> -->

      <div *ngIf="this.userDto_vb.userId_vb==undefined" class="control_display" style="padding-left: 20px;">
        <a class="link" href="{{this.authServicesService_vb.loginDnsName_vb}}/showLogin/{{this.apiKeyDto_vb.apikey_vb}}">
        {{login_vb}}</a></div>
      <label style="display: none;" name="placeholderText_vb">
        <toolbar-msg messageSeek_vb="search_placeholder_text_msg"></toolbar-msg>
      </label>
    </div>