<div class="toolbar" role="banner" >
    <!-- <span style="font-size:20px;cursor:pointer;margin:3px;" onclick="openNav()">&#x2630; </span> -->
      <!-- <div class="sidenavHamburger" (click)="showSideNav_mt()">&#x2630; </div>  -->
      <!-- <img
        width="40"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      /> -->
      <!-- <label style="font-size:30px; word-spacing:100px; margin-top: 10px; margin-left: 10px;"> <toolbar-msg messageSeek_vb="ownerToolBar_heading_msg"></toolbar-msg></label> -->
      <img src="/assets/images/appName.png" />
      <!-- <div *ngIf="showSideNavToggle_vb"><app-owner-side-nav></app-owner-side-nav></div> -->
      <!-- <div class="spacer"></div> -->
    </div>
<div class="container">
   
        <ul  style="margin-top: 100px;background-color:#ffffff; list-style: none;">     
            <li style="padding:10px; color: #1976d2"> <h2>{{contact_us_heading_msg_vb}}</h2></li>
        </ul>      
        <div style="margin-left: 30px;">
                <p>
                    {{contact_email_sms_whatsapp_msg_vb}}                
                </p>
                <ul  style="margin-top: 10px;background-color:#ffffff; list-style: none;">     
                    <li style="padding:10px; color: #1976d2"> <h4>{{free_ads_heading_msg_vb}}</h4></li>
                </ul> 
                <p style="margin-left: 30px;"> 
                    {{create_free_add_msg_vb}}
                </p>
         </div>       
       
</div>    
