<div class="toolbar" role="banner" >


    <!-- <span style="font-size:20px;cursor:pointer;margin:3px;" onclick="openNav()">&#x2630; </span> -->
      <!-- <div class="sidenavHamburger" (click)="showSideNav_mt()">&#x2630; </div>  -->
      <!-- <img
        width="40"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      /> -->
      <!-- <label style="font-size:30px; word-spacing:100px; margin-top: 10px; margin-left: 10px; "><toolbar-msg messageSeek_vb="ownerToolBar_heading_msg"></toolbar-msg></label> -->
      <img style="margin-top: 10px; margin-left: 10px; " src="/assets/images/appName.png" />
      <div *ngIf="showSideNavToggle_vb"><app-owner-side-nav></app-owner-side-nav></div>
      <div class="spacer"></div>
      <div class="float-md-right" style="padding-right: 5px;">
        <a (click)="changeLang_mt('ur')" style="padding-left: 2px;" title="اردو">        
          ش</a>
        <a (click)="changeLang_mt('kn')" style="padding-left: 12px;" title="ಕನ್ನಡ"> ಅ</a>
        <a (click)="changeLang_mt('gu')" style="padding-left: 12px;" title="ગુજરાતી"> એ</a>
        <a (click)="changeLang_mt('bn')" style="padding-left: 12px;" title="বাংলা"> অ</a>
        <a (click)="changeLang_mt('hi')" style="padding-left: 12px;" title="हिन्दी"> अ</a>
        <a (click)="changeLang_mt('en')" style="padding-left: 12px;" title="English"> A</a>    
        <a (click)="changeLang_mt('ml')" style="padding-left: 12px;" title="മലയാളം"> ല</a>  
        <a (click)="changeLang_mt('mr')" style="padding-left: 12px;" title="मराठी"> म</a>  
        <a (click)="changeLang_mt('pa')" style="padding-left: 12px;" title="ਪੰਜਾਬੀ"> ਉ</a>  
        <a (click)="changeLang_mt('ta')" style="padding-left: 12px;" title="தமிழ்"> அ</a>  
        <a (click)="changeLang_mt('te')" style="padding-left: 12px;" title="తెలుగు"> సం</a>   
      </div>
    </div>
    <!-- <div class="buttonBar scrollmenu" >
      <button type="button" class="btn btn-light" [routerLink]="'/owner'" style="margin: 5px;"><toolbar-msg messageSeek_vb="step1_btn_label"></toolbar-msg></button>
      <button type="button" class="btn btn-light" [routerLink]="'/tellTargets'" style="margin: 5px;"><toolbar-msg messageSeek_vb="step2_btn_label"></toolbar-msg></button>
      <button type="button" class="btn btn-light" [routerLink]="'/listMyAds'"><toolbar-msg messageSeek_vb="myads_btn_label"></toolbar-msg></button>
    </div> -->


      <!-- <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-dark">Dark</button> -->

  