<app-toolbar></app-toolbar>
<div class="container">
    <div fxLayout="row wrap" >
        <div  *ngFor="let image_vb of images_vb" style="margin: auto;" >
            <div class="box1"   >
                    <img src="{{image_vb}}" class="tn" width="300" height="260">                
            </div>
        </div>
        <!-- <div class="box1">
            <img alt="1" src="assets/images/c1.png" />
        </div>
        <div class="box2">
            <img alt="2" src="assets/images/c6.jpg" />
        </div>
        <div class="box3">
            <img alt="3" src="assets/images/c3.jpg" />
        </div>
        <div class="box4">
            <img alt="4" src="assets/images/c4.jpg" />
        </div>
        <div class="box5">
            <img alt="5" src="assets/images/c5.jpg" />
        </div> -->
    </div>
</div>
