<p>owner-login works!</p>
<div class="tabContent">
    <div class="row spacing">
        <div class="col form-check">
            <input class="form-check-input" type="radio" name="phone_vb" id="phone_vb" value="phone"  (click)="activatePhoneContent_mt()" checked>
            <label class="form-check-label" for="exampleRadios1">
                Use Phone ( फोन के साथ )
            </label>
        </div>
        <div class="col form-check">
            <input class="form-check-input" type="radio" name="phone_vb" id="email_vb" value="email"  (click)="activateEmailContent_mt()">
            <label class="form-check-label" for="exampleRadios2">
                Use Email ( ईमेल के साथ )
            </label>
        </div>           
    </div>
    <div class="form-group" *ngIf="togglePhoneActive_vb">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Phone Number</span>
            </div>
            <input type="text"  formControlName="ownerPhone_vb" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
    <div class="form-group" *ngIf="!togglePhoneActive_vb">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Email</span>
            </div>
            <input type="text" formControlName="ownerEmail_vb" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
</div>
<div class="form-group" style="margin-top: 15px;">
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">4-digit secret number</span>
        </div>
        <input type="password"  formControlName="secretNumber_vb" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
    </div>
</div> 