<app-toolbar></app-toolbar>
<div class="container1">
        <div class="login-form">
            <form [formGroup]="loginForm_vb"  >
                <!-- <label ><b>
                    {{login_heading_vb}}</b>
                </label> -->
                <div class="container">
                   <div >
                       <div style="margin-bottom: 10px;">
                           <div style="display: inline-block; margin-right: 20px;">

                               <input  type="radio" name="identify_vb" id="phoneRadios" value="phone"  (click)="activatePhoneContent_mt()" checked>
                               <label for="identify_vb">
                                    <b>{{use_phone_auth_vb}}</b>
                               </label>
                           </div>
                           <div style="display: inline-block">
                               <input  type="radio" name="identify_vb" id="emailRadios" value="email"  (click)="activateEmailContent_mt()">
                               <label for="identify_vb">
                                   <b>{{use_email_auth_vb}}</b>
                               </label>
                           </div>           
                       </div>
                       <div  *ngIf="togglePhoneActive_vb">
                           <div >
                               <div >
                               <span id="inputGroup-sizing-lg">
                                <b>{{phone_input_label_vb}}</b></span>
                               </div>
                               <input type="text" formControlName="ownerPhone_vb" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                           </div>
                           <div *ngIf="identifyPhoneValidator_vb">                    
                               <span  class="error_msg"
                                   *ngIf="loginForm_vb.controls['ownerPhone_vb'].getError('required')">
                                   <loginScreen-msg messageSeek_vb="required_email_phone_label_msg"></loginScreen-msg>
                               </span>                                                       
                           </div>
                       </div>
                       <div *ngIf="!togglePhoneActive_vb">
                           <div>
                               <div >
                               <span id="inputGroup-sizing-lg"><b>{{email_input_label_vb}}</b></span>
                               </div>
                               <input type="text" formControlName="ownerEmail_vb" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                           </div>
                           <div *ngIf="identifyEmailValidator_vb">                    
                               <span class="error_msg"  
                                   *ngIf="loginForm_vb.controls['ownerEmail_vb'].getError('required')">
                                   <loginScreen-msg messageSeek_vb="required_email_phone_label_msg"></loginScreen-msg>
                               </span>                                                       
                           </div>
                       </div>
                   </div>
                       <div style="margin-top: 15px;">
                           <div>
                               <div >
                               <span id="inputGroup-sizing-lg"><b>{{secretNum_input_label_vb}}</b></span>
                               </div>
                               <input type="password" formControlName="secretNumber_vb" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                           </div>
                           <div *ngIf="secretNumberValidator_vb">                    
                               <span class="error_msg" *ngIf="loginForm_vb.controls['secretNumber_vb'].getError('required')">
                                   <loginScreen-msg messageSeek_vb="required_label_msg"></loginScreen-msg>    
                               </span>   
                               
                           </div>
                       </div> 
               
                   <div >
                    <div *ngIf="authorizeDone_vb" ><h5 style="padding:20px;" class="error_msg" >{{authorizeMsg_vb}}</h5></div>
                       
                        <button type="submit" (click)="loginSubmit_mt()" >
                        {{label_submit_upload_ads_vb}}</button>                      
                   </div>
                   <div style="margin-left: 60px;margin-bottom: 40px; background-color:#f1f1f1">
                    <label style="font: 11px solid tomato">{{r_u_new_user_label_vb}}</label>
                    <label ><a [routerLink]="['/showLogin/',apiKeyDto_vb.apikey_vb,'showRegister',apiKeyDto_vb.apikey_vb]">
                        {{go_to_register_here_vb}}</a></label>
                </div>

                <div style="margin-left: 60px;margin-bottom: 40px; background-color:#f1f1f1">                    
                    <label ><a [routerLink]="['/showLogin/',apiKeyDto_vb.apikey_vb,'askToResetSecret']">
                        {{forgot_secret_number_vb}}</a></label>
                </div>
                </div>
               </form>

                <!-- <form action="/action_page.php" method="post">
                    <div class="imgcontainer">
                        <h2></h2>
                    </div>
                    <div class="container">

                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                        <button type="submit" (click)="loginSubmit_mt()">Login</button>
                    </div>
                    <div style="margin-left: 60px;margin-bottom: 40px; background-color:#f1f1f1">
                        <label style="font: 12px solid tomato">New User >>     </label>
                        <label ><a [routerLink]="'/showRegister'">Register Here.</a></label>
                    </div>
                </form> -->
        </div>
        <div  class="login-form-adj">
            <p style="font-size:150px;color:rgb(30, 144, 255)">{{login_heading_vb}}</p>
            <ul>
                <li>{{login_app_desc_1_vb}}</li>
                <li>{{login_app_desc_2_vb}}</li>
                <li>{{login_app_desc_3_vb}}</li>
                <!-- <li>{{login_app_desc_4_vb}}</li>
                <li>{{login_app_desc_5_vb}}</li> -->
            </ul>
            <!-- <h1 style="margin-top: 40px;">{{login_heading_vb}}</h1>
            <h5 style="margin: 50px;">{{login_app_desc_1_vb}}</h5>
            <h5 style="margin: 50px;">{{login_app_desc_2_vb}}</h5>
            <h5 style="margin: 50px;">{{login_app_desc_3_vb}}</h5>
            <h5 style="margin: 50px;">{{login_app_desc_4_vb}}</h5>
            <h5 style="margin: 50px;">{{login_app_desc_5_vb}}</h5> -->
        </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<router-outlet></router-outlet>