<app-toolbar></app-toolbar>
<div class="container">
        <div class="control_display"><app-viewer-sidenav></app-viewer-sidenav></div>
        <div class="container1" >
            <form [formGroup]="loginForm_vb" style="margin-left: 40px;" >
                <!-- <label ><b>
                    {{login_heading_vb}}</b>
                </label> -->
                <div class="container">
                   <div >
                       <div style="margin-bottom: 10px;">
                           <div style="display: inline-block; margin-right: 20px;">

                               <input  type="radio" name="identify_vb" id="phoneRadios" value="phone"  (click)="activatePhoneContent_mt()" checked>
                               <label for="identify_vb"><b>
                                   {{use_phone_auth_vb}}</b>
                               </label>
                           </div>
                           <div style="display: inline-block">
                               <input  type="radio" name="identify_vb" id="emailRadios" value="email"  (click)="activateEmailContent_mt()">
                               <label for="identify_vb">
                                   <b>{{use_email_auth_vb}}</b>
                               </label>
                           </div>           
                       </div>
                       <div  *ngIf="togglePhoneActive_vb">
                           <div >
                               <div >
                               <span id="inputGroup-sizing-lg">
                                <b>{{phone_input_label_vb}}</b></span>
                               </div>
                               <input type="text"  maxlength="10"  formControlName="ownerPhone_vb" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                           </div>
                           <div *ngIf="identifyPhoneValidator_vb">                                          
                               <span  class="error_msg"
                                   *ngIf="loginForm_vb.controls['ownerPhone_vb'].getError('required')">
                                   {{required_email_phone_label_vb}}
                               </span>                                                       
                           </div>
                       </div>
                       <div *ngIf="!togglePhoneActive_vb">
                           <div>
                               <div >
                               <span id="inputGroup-sizing-lg"><b>{{email_input_label_vb}}</b></span>
                               </div>
                               <input type="text"  maxlength="50"  formControlName="ownerEmail_vb" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                           </div>
                           <div *ngIf="identifyEmailValidator_vb">                    
                               <span class="error_msg"  
                                   *ngIf="loginForm_vb.controls['ownerEmail_vb'].getError('required')">
                                   {{required_email_phone_label_vb}}
                               </span>                                                       
                           </div>
                       </div>
                   </div>

                       <div style="margin-top: 15px;">
                           <div>
                               <div >
                               <span id="inputGroup-sizing-lg"><b>{{old_secretNum_input_label_vb}}</b></span>
                               </div>
                               <input type="password"  maxlength="3"  formControlName="old_secretNumber_vb" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                           </div>
                           <div *ngIf="old_secretNumberValidator_vb">                  
                               <span class="error_msg" *ngIf="loginForm_vb.controls['old_secretNumber_vb'].getError('required')">
                                   {{required_label_vb}}    
                               </span>   
                               
                           </div>
                       </div>    
                       
                       <div style="margin-top: 15px;">
                        <div>
                            <div >
                            <span id="inputGroup-sizing-lg"><b>{{secretNum_input_label_vb}}</b></span>
                            </div>
                            <input type="password"  maxlength="3"  formControlName="secretNumber_vb" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div *ngIf="secretNumberValidator_vb">                    
                            <span class="error_msg" *ngIf="loginForm_vb.controls['secretNumber_vb'].getError('required')">
                                {{required_label_vb}}    
                            </span>   
                            
                        </div>
                        <div *ngIf="authorizeDone_vb" ><h5 style="padding:20px;" class="error_msg" >{{authorizeMsg_vb}}</h5></div>
                    
                        <button type="submit" (click)="onSubmit_mt()" >
                            {{label_submit_upload_ads_vb}}</button>  
                            
                            <button type="button" (click)="onClose_mt()" >
                                {{label_close_vb}}</button>  
                    </div> 
                </div>
               </form>

            
        </div>
        
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
